$bg-grey: #f2f2f2;
$text-black: #4d4d4d;
$text-grey: #808080;
$white: #ffffff;
$brown: #aa8258;
$dark-green: #1a403d;

$dark-100: #333333;
$dark-80: #323232;
$dark-60: #666666;
$dark-40: #999999;
$dark-20: #cccccc;
$dark-10: #e5e5e5;